* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para la galería */
.gallery {
  display: flex;
  position: relative;
  height: 80vh;
  width: 90vw;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.5);
}

/* Estilos para las imágenes */
.gallery img {
  width: 0;
  position: relative;
  flex-grow: 1;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: 0.5s ease;
  /* Suaviza la animación */
}

/* Efecto al pasar el cursor */
/* Efecto al pasar el cursor */
.gallery img:hover {
  cursor: pointer;
  flex-grow: 2.5;
  opacity: 1;
  filter: brightness(100%) contrast(120%);
  /* Resalta la imagen */
}